@font-face {
    font-family: Netflix-Sans;
    src: url('NetflixSans_W_Md.woff2');
}

@font-face {
    font-family: Netflix-Sans;
    src: url('NetflixSans_W_Rg.woff2');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#logo{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

button{
    background-color: #e50914;
    color: white;
    font-size: 20px;
    line-height: normal;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#sign-in{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#top-section{
    height: 595px;
}

h1, h3, p, form{
    color: white;
    text-align: center;
    vertical-align: middle;
}


